html, body{
    font-family: "Lato", sans-serif;
    margin: 0px;
    height: 100%;
}
/* Navigation */
.container{
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side{
    display: flex;

}

.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-wrapper > .right-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid black;

}

.nav-link-wrapper a:hover{
   color : black;
}

.active-nav-link{
    border-bottom: 1px solid black;
}

.active-nav-link a{
    color: black !important;
}

/* Main content */
.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper{
    position: relative;
}

.portfolio-img-background{
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img{
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle{
    transition: 0.5s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle{
    font-weight: 600;
    color: lightseagreen;
}

.img-darken{
    transition: 0.5s;
    filter: brightness(10%);
}

.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Profile content */
.profile-image-wrapper img{
    width: 100%;
}

.profile-content-wrapper{
    padding: 30px;
}

.profile-content-wrapper h1{
    color: lightseagreen;
}

/* Login/reg */
.container-login{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
}

.login-register {
    height: 560px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding:0 2em;
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
    overflow: hidden; 
    background:  #4e4e52;
    color:#ffffff;
}

.navigation {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  margin-bottom: .5em;
}

#loginbutton,#registerbutton{
    font-size: 1.5em;
    margin-right:1em;
    border:0px;
    cursor: pointer;
 
}

#loginbutton:focus, #registerbutton:focus {
    outline: 0px;
}

#loginbutton.active, #registerbutton.active {
    padding-bottom: 10px;
    border-bottom: solid 5px lightseagreen;
}

 #forgotpw {
      position: relative;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding-top: 24px;
      margin-top: -300px; 
      border-top: solid 1px rgba(255,255,255,.3);    
  }

.forgotpw-style{
    color: white;
}

  .formgroup input {
      width: 100%;
      height: 35px;
      padding-left: 15px;
      border: none;
      border-radius: 5px;
      margin-bottom: 20px;
      background: rgba(255,255,255,.2);
      color: white;
  }
  .formgroup label {
    text-transform: uppercase;
  }
  input.signin,input.signup {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1em;
      text-align: center;
      color: rgba(255,255,255, 1);
      padding: 8px 0px;
      width: 100%;
      height: 35px;
      border: none;
      border-radius: 20px;
      margin-top: 23px;
      background-color: lightseagreen;
  }

  #loginbutton, #registerbutton {
      transition: all .5s ease;

  }
  form#loginform {
  left:0px;
  }

  form#registerform {
  left:500px;
  top:-230px;
  opacity: 0;;
 } 

form, #forgotpw{
    position: relative;
    transition: all .5s ease;
}

#loginbutton, #registerbutton{
    transition: all .5s ease;
    background-color: transparent;
    color: white;
}

/* Footer content */
.footer{
    background: #4e4e52;
    color: #d3d3d3;
    height: 400px;
    position: relative;
}

.footer .footer-content{
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section{
    padding: 25px;
    flex: 1;
}

.footer .footer-content h1,
.footer .footer-content h2{
    color: white;
}

.footer .footer-content .about h1 span{
    color: lightseagreen;
}

.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #d3d3d3;
}

.footer .footer-content .links ul a:hover{
    color: white;
    margin-left: 10px;
    transition: 0.5s;
}

.footer .footer-content .contact-form .contact-input{
    background-color:white;
    color: #686868 ;
    margin-bottom: 10px;
    line-height: 1.2rem;
    padding: 0.9rem 1.3rem;
    border: none;
}

.btn-big{
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
    background: lightseagreen;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.footer .footer-content .contact-form .contact-btn{
    float: right;
}

.footer .footer-bottom{
    background: #313135;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

textarea{
    resize: none;
}